/* selector{
	property: value;
}
*/
h1{
	text-decoration: underline;
}

body{
	background-image: url("brandon.jpg");
	color: yellow;

}

p{
	font-size: 30px;
}

.sans-serif {
	font-family: sans-serif;
}

.impact{
	font-family: impact;
}

#header{
	text-align: center;
}

#box_one{
	width: 40%;
	float: left;
	padding: 5%;
}


#box_two{
	width: 40%;
	float: left;
	padding: 5%;
}

#box_three{
	padding: 5%;
}

.justify{
	text-align: justify;
}